.cartContainer{
 position: fixed;
 top: 75px;
 right: 0px;
 border: 1px solid rgb(154, 73, 73);
 height: 600px;
 width: 30%;
 z-index: 100;
 background-color: white;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.crosButtonDiv{
    position: relative;
}
.button{
    position: absolute;
    top:10px;
    right: 25px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.headCart{
    margin: 40px 0px;
}
.cartDetails{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    margin-bottom: 40px;
}
.totalCart{
   position: absolute;
}
.purchase{
    position: absolute;
    top:300px;
    left: 170px;
   
}