.footerContainer{
    height: 120px;
    background-color: #57CCF2;
}
.footerParentBox{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.footerText{
    font-size: 45px;
    color: white;
}
.footerImgBox{
    display: flex;
    gap: 20px;
    width: 50%;
}