.nav_container{
    position: relative;
   background: #e3e0e0;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.nav_icon{
    display: flex;
    flex-grow: calc(0.8) ;
    gap: 10px;
}
.nav_icon_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
   
}
.nav_list_container{
    width: calc(250px -10px);
    display: flex;
    gap:10px;
  
    
}