.footer {
    width: 99vw;
    height: 5rem;
    color: white;
    background-color: #121b22;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conditions {
    width: 100; 
    justify-content: space-around;
    margin: 4px;
    gap: 2px;
}

.year {
    text-align: center;
    font-size: smaller;
}